

.base {
    float: left;
    white-space: nowrap;
}

.box {
    float:left;
    width:18px;
    height:18px;
    margin-right:0px;
    margin-bottom:0px;
    background-color:black;
    display: inline-block
}

.vert {
    float:left;
    width:6px;
    height:18px;
    margin-right:0px;
    margin-bottom:0px;
    background-color:black;
    display: inline-block
}

.horiz {
    float:left;
    width:18px;
    height:6px;
    margin-right:0px;
    margin-bottom:0px;
    background-color:black;
    display: inline-block
}

.sbox {
    float:left;
    width:6px;
    height:6px;
    margin-right:0px;
    margin-bottom:0px;
    background-color:black;
    display: inline-block
}
